################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Podbor/Podbor/.vs/Podbor/FileContentIndex/01ecc063-7162-4b69-bc95-7908de9fead0.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/0939f8b6-f72a-4bfe-8768-6a391a503e39.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/733bb7aa-437b-44b9-bba7-ef07abb3063b.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/9c71515a-11a7-4349-bc23-6f42c774ac6c.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/aecf32e7-e02c-4728-9b85-2f66c730597a.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/509e76e3-4c82-4151-8d39-ffe8106743b0.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/32f4a0e1-dac4-4688-8e84-2c5db3442a25.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/42bc1906-d49b-42d1-9233-7a7ddf4e9bac.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/87fed5d6-2edd-4278-a129-05144f7329b3.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/acc2c9fc-41df-4880-9662-8c24843282e1.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/d8b20407-a994-4ef2-8eeb-5ec40c0943cc.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/76f53196-cf62-400e-a527-7edfbb8fb61d.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/7fd56c47-fb7d-400c-a9f2-da35a7b42a04.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/9933d401-b922-4e5b-b3ba-e161e2bb7a0b.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/cdd640a9-3772-4500-8841-a9516594a2ba.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/e7da120e-f02a-4e49-912a-e5a12caada82.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/61d4fbed-c01e-4634-b4f4-8620824e1290.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/8fa161f4-da91-48e4-b055-37ec71be924e.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/aaa3c477-8716-401a-9d15-f71db183e7ab.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/ab39e0f7-6834-45ba-8373-d3febe971a90.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/ad07741b-07c8-4bc6-b16a-7805cad3a66b.vsidx
