################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Podbor/Podbor/.vs/Podbor/FileContentIndex/01ecc063-7162-4b69-bc95-7908de9fead0.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/0939f8b6-f72a-4bfe-8768-6a391a503e39.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/733bb7aa-437b-44b9-bba7-ef07abb3063b.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/9c71515a-11a7-4349-bc23-6f42c774ac6c.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/aecf32e7-e02c-4728-9b85-2f66c730597a.vsidx
/Podbor/Podbor/.vs/Podbor/FileContentIndex/509e76e3-4c82-4151-8d39-ffe8106743b0.vsidx
